        .container {
          background-color: #fff;
          display: flex;
          max-width: 480;
          width: 100%;
          flex-direction: column;
          margin: 0 auto;
        }
      
        .header-container,
        .content-container,
        .footer-container {
          display: flex;
          justify-content: space-between;
          gap: 20px;
        }
      
        .image-group,
        .footer-action-group {
          display: flex;
          gap: 12px;
        }
      
        .product-image,
        .action-image {
          object-fit: cover;
          width: 80px;
        }
      
        .product-image {
          width: 150px;
        }
      
        .category-title {
          font-size: 32px;
          color: #000;
          font-weight: 400;
          padding: 2px 20px;
          display: flex;
          align-items: center;
        }
      
        .scan-pay-section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 50px 0;
        }
      
        .feature-container {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          margin: 11px 0 68px;
          padding: 18px 20px 31px;
          background-color: #d9d9d9;
          position: relative;
        }
      
        .feature-item {
          font-size: 13px;
          color: #000;
          font-weight: 400;
          flex-grow: 1;
          white-space: nowrap;
        }
      
        .collection-container {
          display: flex;
          gap: 20px;
          padding: 50px 16px 22px;
          overflow: hidden;
        }
      
        .collection-item {
          display: flex;
          flex-direction: column;
          line-height: normal;
          flex-basis: 33%;
          background-color: #d9d9d9;
          padding: 23px 35px 14px;
          font: 400 13px/1.5 'Inter', sans-serif;
          color: #000;
          margin-top: 112px;
        }
      
        @media (max-width: 991px) {
          .collection-container .collection-item,
          .feature-container .feature-item {
            width: 100%;
          }
      
          .header-container,
          .content-container,
          .footer-container {
            flex-direction: column;
            align-items: stretch;
            gap: 0;
          }
        }
   