
        .login-container {
          background-color: #eeb866;
          display: flex;
          max-width: 480px;
          width: 100%;
          flex-direction: column;
          color: #000;
          font-weight: 400;
          margin: 0 auto;
          padding: 28px 0 50px;
        }
        .login-image,
        .divider-image,
        .footer-image {
          object-fit: cover;
          object-position: center;
          width: 100%;
          max-width: 244px;
          align-self: center;
        }
        .login-title,
        .email-label,
        .password-label,
        .forgot-password,
        .login-button,
        .keep-signed-in,
        .new-account-prompt,
        .create-account-button,
        .footer-text {
          margin: 10px 0;
          font-family: 'Inria Serif', sans-serif;
        }
        .input-box {
          background-color: #d9d9d9;
          width: 100%;
          padding: 10px;
          margin: 4px 0;
        }
        .create-account-button,
        .login-button {
          background-color: #f90;
          color: #fff;
          text-align: center;
          padding: 16px;
          cursor: pointer;
        }
        .footer-links {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
        }
        .visually-hidden {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }